.App {
  text-align: left;
  width: 60%;
  margin: 0px auto;
}

h1{
  text-align: center;
}

table{
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 10px;
}

th, td{
  border: 1px solid rgb(244, 7, 66);
  line-height: 25px;
  padding: 5px;
}

th{
  text-align: center;
}
button{
  margin-bottom: 10px;
}